{% extends "./base.html" %} {% block title %}GESTION DE PERSONAL{%endblock%} 
{% block body %} {% load crispy_forms_tags %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 bg-info">
    <h2>GESTION DE PERSONAL</h2>
    <div class="card bg-info">
      <div class="card-body bg-info">
        <form action="" method="POST">
          {% csrf_token %} {{ personal_form|crispy}}

          <button type="submit" class="btn btn-success btn-block text-white">
            Guardar
          </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 bg-info">
    <h1>INFORMACION DE PERSONAL</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Legajo</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th colspan="3">
              <center>MENU</center>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for perso in personal%}
          <tr>
            <td>{{perso.legajo_p}}</td>
            <td>{{perso.apellido_p}}</td>
            <td>{{perso.nombre_p}}</td>
            <td>{{perso.dni_p}}</td>
            <td>
              <a
                href="{% url 'personal:ver_personal' perso.id_personal%}"
                class="btn btn-success"
                >Ver</a
              >
            </td>
            <td>
              <a
                href="{% url 'personal:editar_personal' perso.id_personal%}"
                class="btn btn-info"
                >Editar</a
              >
            </td>
            <td>              
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Eliminar
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ¿Desea eliminar este Personal?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <a href="{% url 'personal:eliminar_personal' perso.id_personal%}" class="btn btn-danger">Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
