{% extends "./base.html" %} {% block title %}Edicion Alumno {%endblock%} 
{% block body %}

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" bg-color="#80000">
  <h2>
    INFORMACION DE PERSONAL {{personal.apellido_p}}, {{personal.nombre_p}}
  </h2>
  <table class="table table-info">
    <thead>
      <th>Tipo</th>
      <th>Dato</th>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{personal.id_personal}}</td>
      </tr>
      <tr>
        <td>DNI</td>
        <td>{{personal.dni_p}}</td>
      </tr>
      <tr>
        <td>CUIL</td>
        <td>{{personal.cuil_p}}</td>
      </tr>
      <tr>
        <td>APELLIDO</td>
        <td>{{personal.apellido_p}}</td>
      </tr>
      <tr>
        <td>NOMBRE</td>
        <td>{{personal.nombre_p}}</td>
      </tr>
      <tr>
        <td>LEGAJO</td>
        <td>{{personal.legajo_p}}</td>
      </tr>
      <tr>
        <td>TELEFONO</td>
        <td>{{personal.telefono_p}}</td>
      </tr>
      <tr>
        <td>DIRECCION</td>
        <td>{{personal.direccion_p}}</td>
      </tr>
      <tr>
        <td>FECHA DE NACIMIENTO</td>
        <td>{{personal.fecha_nac_p}}</td>
      </tr>
      <tr>
        <td>COPIA DE DNI</td>
        <td>{{personal.copiaDNI_p}}</td>
      </tr>
      <tr>
        <td>ROL</td>
        <td>{{personal.rol_p}}</td>
      </tr>
      <tr>
        <td>ID DE MATERIA</td>
        <td>{{personal.id_materia}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
