{% extends "./base.html" %}
{% block title %}Edicion Alumno {%endblock%}
{% block body %}

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" bg-color="#80000">
  <h2>INFORMACION DE ASISTENCIA </h2>
  <table class="table table-info">
    <thead>
      <th>Tipo</th>
      <th>Dato</th>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{asistencia.id_asistencia}}</td>
      </tr>
      <tr>
        <td>FECHA</td>
        <td>{{asistencia.fechaA}}</td>
      </tr>
      <tr>
        <td>HORA</td>
        <td>{{asistencia.horaA}}</td>
      </tr>
      <tr>
        <td>CONDICION</td>
        <td>{{asistencia.condicion}}</td>
      </tr>
      <tr>
        <td>CANTIDAD DE ASISTENCIAS</td>
        <td>{{asistencia.cantidadA}}</td>
      </tr>
      <tr>
        <td>TURNO</td>
        <td>{{asistencia.turno}}</td>
      </tr>
      <tr>
        <td>REINTEGRADO</td>
        <td>{{asistencia.reintegrado}}</td>
      </tr>
      <tr>
        <td>id_alumno</td>
        <td>{{asistencia.id_alumno}}</td>
      </tr>
      <tr>
        <td>evento</td>
        <td>{{asistencia.evento}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}