{% extends "./base.html" %} 
{% block title %}Edicion Alumno {%endblock%} 
{% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>EDICION DE ALUMNOS</h2>
    <div class="card">
      <div class="card-body">
        <form action="/editarAlumno/" method="POST">
          {% csrf_token %}
          <!-- CONTROL DE DJANGO PARA EVITAR EXPLOITS-->
          <div class="form-group">
            <input
              type="text"
              id="id_alumno"
              name="id_alumno"
              value="{{alumno.id_alumno}}"
              class="form-control"
              placeholder="DNI"
              maxlength="9"
              readonly
              required
            />
            </div>
          <div class="form-group">
            <input
              type="text"
              id="dni_a"
              name="dni_a"
              value="{{alumno.dni_a}}"
              class="form-control"
              placeholder="DNI"
              maxlength="9"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="cuil_a"
              name="cuil_a"
              value="{{alumno.cuil_a}}"
              class="form-control"
              placeholder="CUIL"
              maxlength="15"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="apellido_a"
              name="apellido_a"
              value="{{alumno.apellido_a}}"
              class="form-control"
              placeholder="APELLIDO"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="nombre_a"
              name="nombre_a"
              value="{{alumno.nombre_a}}"
              class="form-control"
              placeholder="NOMBRE"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="matricula"
              name="matricula"
              value="{{alumno.matricula}}"
              class="form-control"
              placeholder="MATRICULA"
              minlength="1"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="tutores"
              name="tutores"
              value="{{alumno.tutores}}"
              class="form-control"
              placeholder="TUTOR"
              minlength="1"
              maxlength="100"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="telefono"
              name="telefono"
              value="{{alumno.telefono}}"
              class="form-control"
              placeholder="TELEFONO"
              maxlength="20"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="direccion"
              name="direccion"
              value="{{alumno.direccion}}"
              class="form-control"
              placeholder="DIRECCION"
              maxlength="50"
            />
          </div>
          <div class="form-group">
            <input
              type="date"
              id="fecha_nac"
              name="fecha_nac"
              value="{{alumno.fecha_nac}}"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  {% endblock %}
