{% extends "./base.html" %} {% block title %}GESTION DE ALUMNOS{%endblock%}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h2>GESTION DE ALUMNOS</h2>
    <div class="card">
      <div class="card-body">
        <form action="/registrarAlumno/" method="POST">
          {% csrf_token %}
          <!-- CONTROL DE DJANGO PARA EVITAR EXPLOITS-->
          <div class="form-group">
            <input type="text" id="dni_a" name="dni_a" class="form-control" placeholder="DNI" maxlength="9" required />
          </div>
          <div class="form-group">
            <input type="text" id="cuil_a" name="cuil_a" class="form-control" placeholder="CUIL" maxlength="15" />
          </div>
          <div class="form-group">
            <input type="text" id="apellido_a" name="apellido_a" class="form-control" placeholder="APELLIDO"
              maxlength="50" required />
          </div>
          <div class="form-group">
            <input type="text" id="nombre_a" name="nombre_a" class="form-control" placeholder="NOMBRE" maxlength="50"
              required />
          </div>
          <div class="form-group">
            <input type="text" id="matricula" name="matricula" class="form-control" placeholder="MATRICULA"
              minlength="1" maxlength="10" />
          </div>
          <div class="form-group">
            <input type="text" id="tutores" name="tutores" class="form-control" placeholder="TUTOR" minlength="1"
              maxlength="100" />
          </div>
          <div class="form-group">
            <input type="text" id="telefono" name="telefono" class="form-control" placeholder="TELEFONO"
              maxlength="20" />
          </div>
          <div class="form-group">
            <input type="text" id="direccion" name="direccion" class="form-control" placeholder="DIRECCION"
              maxlength="50" />
          </div>
          <div class="form-group">
            <input type="date" id="fecha_nac" name="fecha_nac" class="form-control" placeholder="FECHA NACIMIENTO" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>INFORMACION DE ALUMNOS</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Matricula</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th colspan="3">
              <center>MENU</center>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for alumno in alumnos%}
          <tr>
            <td>{{alumno.matricula}}</td>
            <td>{{alumno.apellido_a}}</td>
            <td>{{alumno.nombre_a}}</td>
            <td>{{alumno.dni_a}}</td>
            <td>
              <a href="/verAlumno/{{alumno.id_alumno}}" class="btn btn-success">Ver</a>
            </td>
            <td>
              <a href="/edicionAlumno/{{alumno.id_alumno}}" class="btn btn-info">Editar</a>
            </td>
            <td>
              <a href="/eliminarAlumno/{{alumno.id_alumno}}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}