{% extends "./base.html" %}
{% block title %}Edicion Alumno {%endblock%}
{% block body %}

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" bg-color="#80000">
  <h2>INFORMACION DE ESPECIALIDAD </h2>
  <table class="table table-info">
    <thead>
      <th>Tipo</th>
      <th>Dato</th>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{especialidad.id_especialidad}}</td>
      </tr>
      <tr>
        <td>NOMBRE ESPECIALIDAD</td>
        <td>{{especialidad.nombreEspecialidad}}</td>
      </tr>
      <tr>
        <td>DISEÑO CURRICULAR</td>
        <td>{{especialidad.disenioCurricular}}</td>
      </tr>
      <tr>
        <td>CANTIDAD DE MATERIAS</td>
        <td>{{especialidad.cantidadMaterias}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}