{% extends "./base.html" %} 
{% block title %}Edicion Profesores {%endblock%} 
{% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>EDICION DE PROFESORES</h2>
    <div class="card">
      <div class="card-body">
        <form action="{% url 'profesores:editar_profesor'%}" method="POST">
          {% csrf_token %}
          <!-- CONTROL DE DJANGO PARA EVITAR EXPLOITS-->
          <div class="form-group">
            <input
              type="text"
              id="id_profesor"
              name="id_profesor"
              value="{{profesor.id_profesor}}"
              class="form-control"
              placeholder="DNI"
              maxlength="9"
              readonly
              required
            />
            </div>
          <div class="form-group">
            <input
              type="text"
              id="dni_p"
              name="dni_p"
              value="{{profesor.dni_p}}"
              class="form-control"
              placeholder="DNI"
              maxlength="9"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="cuil_p"
              name="cuil_p"
              value="{{profesor.cuil_p}}"
              class="form-control"
              placeholder="CUIL"
              maxlength="15"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="apellido_p"
              name="apellido_p"
              value="{{profesor.apellido_p}}"
              class="form-control"
              placeholder="APELLIDO"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="nombre_p"
              name="nombre_p"
              value="{{profesor.nombre_p}}"
              class="form-control"
              placeholder="NOMBRE"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="legajo_p"
              name="legajo_p"
              value="{{profesor.legajo_p}}"
              class="form-control"
              placeholder="LEGAJO"
              minlength="1"
              maxlength="10"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="telefono_p"
              name="telefono_p"
              value="{{profesor.telefono_p}}"
              class="form-control"
              placeholder="TELEFONO"
              maxlength="20"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="direccion_p"
              name="direccion_p"
              value="{{profesor.direccion_p}}"
              class="form-control"
              placeholder="DIRECCION"
              maxlength="50"
            />
          </div>
          <div class="form-group">
            <input
              type="date"
              id="fecha_nac_p"
              name="fecha_nac_p"
              value="{{profesor.fecha_nac_p}}"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  {% endblock %}
