{% extends "./base.html" %}
{% block title %} PROFESOR {%endblock%}
{% block body %}

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" bg-color="#80000">
  <h2>INFORMACION DE PROFESOR {{profesor.apellido_P}}, {{profesor.nombre_P}} </h2>
  <table class="table table-info">
    <thead>
      <th>Tipo</th>
      <th>Dato</th>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{profesor.id_profesor}}</td>
      </tr>
      <tr>
        <td>DNI</td>
        <td>{{profesor.dni_p}}</td>
      </tr>
      <tr>
        <td>CUIL</td>
        <td>{{profesor.cuil_p}}</td>
      </tr>
      <tr>
        <td>APELLIDO</td>
        <td>{{profesor.apellido_p}}</td>
      </tr>
      <tr>
        <td>NOMBRE</td>
        <td>{{profesor.nombre_p}}</td>
      </tr>
      <tr>
        <td>LEGAJO</td>
        <td>{{profesor.legajo_p}}</td>
      </tr>
      <tr>
        <td>TELEFONO</td>
        <td>{{profesor.telefono_p}}</td>
      </tr>
      <tr>
        <td>DIRECCION</td>
        <td>{{profesor.direccion_p}}</td>
      </tr>
      <tr>
        <td>FECHA DE NACIMIENTO</td>
        <td>{{profesor.fecha_nac_p}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}